<h1>All Clients</h1>

<% @clients.each do |client|%>
<h2><a href="/clients/<%= client.id %>"><%= client.ip %></a></h2>

<% end %>

<br>
<%= link_to "New Client", new_client_path %>

<br>

<a href="/clients/" data-turbo-method="delete">Delete the list</a>

